.item-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.card-container{
    /* background-color: tomato; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    color: wheat;
}

.cart-container{
color: wheat;}