.card-img img{
    width: 250px;
    height: 230px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 30px;
}
 .card-section{
    width: 300px;
    margin-left: 20px;
    padding: 5px;
    background-color: #ffff;
    color: #202020;
    border-radius: 10px;
}

.cart-button{
    background-color: #202020;
    color: #ffff;
    padding: 10px 15px;
    border: 1px solid lightgray;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    margin-bottom: 10px;
}